/* Global styles */

body {
    background: url('/assets/images/wood-background.jpg') no-repeat;
    background-size: cover;
    font-family: "Raleway", sans-serif;
    color: white;
    text-align: center;
}

/* Header  & footer */

header, footer {
    float: right;
    color: white;
    padding: 10px 10px;
}

a {
    color:inherit !important;
    margin: 5px 5px;
  }

/* logo */

.logo {
    background:#FFF;
    padding: 2px 2px;
    margin: auto;
    height: 200px;
    width: 200px;
    border: 1px solid white;
    border-radius: 50%;

}

/* Card area and individual cards */
#card-area {
    width: 90%;
    margin: auto;
    text-align: center;
}
.card-click {
    background: #484141;
    color: white;
    font-size: 70px;
    padding: 50px 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center; 
}

.card-click:hover {
    background: white;
    color: #484141;
}

/* Dice area */

#dice-area {
    width: 40%;
    padding: 30px 30px;
    margin: auto;
    text-align: center;
    background: #156350;
    border: 1px solid #0A5170;
    box-sizing: border-box;
    box-shadow: inset 8px 8px 4px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.dice-one img{
    width: 50%;
    float: left;
    height: 50px !important;
    width: 50px !important;
    padding-left: 100px;
}
.dice-two img{
    width: 50%;
    float: right;
    height: 50px !important;
    width: 50px !important;
    padding-right: 100px;
}

#dice-instructions {
    background: #7881D3;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px 10px;
}




/* Help page */

/* help box area */

#help-page {
    width: 90%;
    margin: auto;
    padding: 20px 20px;
    background: #156350;
    border: 1px solid #0A5170;
    box-sizing: border-box;
    box-shadow: inset 8px 8px 4px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

ol {
    text-align: left;
}
li {
    padding-bottom: 5px;
}

.active {
    background: #506d70;
    color: white;
    font-size: 70px;
    padding: 50px 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center; 
}

.closed {
    background: gray;
    color: gray;
    font-size: 70px;
    padding: 50px 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center; 
}


/* Tablets: Responsive for screens smaller than 768px */

@media screen and (max-width:768px){
 .logo {
    height: 100px;
    width: 100px;
}

/* Card area and individual cards */
#card-area {
    width: 95%;
}

.card-click, .active, .closed {
    font-size: 35px;
    padding: 20px 15px;
    margin: 5px;
}

#dice-area {
    width: 70%;
    padding: 20px 20px;
    margin: auto;

}

}